<!-- load angular dependencies -->
<script src="./angular.min.js"></script>
<script src="./ui-utils.js"></script>
<script src="./homeBase.js"></script>
<head> 
	<link rel="stylesheet" href="style.css">
</head>
<html ng-app="angularApp">
<body>

<!-- ng-class="{active: == selectedTitle}"  -->

<div ng-controller="angularController">

	<div id="top" ng-model="radioFilter">
		<button			
			ng-repeat="chunk in chunks| unique:'category'" 
			class="btn btn-default" 
			ng-model="selected[chunk.category]" 
			style="font-size:15"			
			ng-click="setSelectedTitle(chunk.category)">{{chunk.category}}
		</button>
		<button id="hideButton" ng:click="activateHide()"> hide empty categories </button>

	</div>

	<div id="middleLeft">
			<div ng-repeat="chunk in chunks| filter:byTitle | orderBy:'title'">
				<button class="titleButton" id='selectButton{{chunk.id}}' ng:click="select(chunk, $index)">{{chunk.title}}</button>
			</div>
	 </div>

	 <div id="middleRight" >

	 	<div id="middleRightLeft" class="leftForm">
	 		<input class="inputFieldRight" type="text" id='{{k}}Parent' ng-repeat="(k, v) in selected" value={{k}}> </input>
	 	</div>

	 	<div id="middleRightRight" class="rightForm">
	 		<form id="categoryForm">
		 		<input class="inputFieldRight" class='inputField' value='' id="author"> 		</input>
		 		<input class="inputFieldRight" class='inputField' value='' id="bestbefore"> 	</input>
		 		<input class="inputFieldRight" class='inputField' value='' id="borrowedfrom"> 	</input>
		 		<input class="inputFieldRight" class='inputField' value='' id="category"> 		</input>
		 		<input class="inputFieldRight" class='inputField' value='' id="description"> 	</input>
		 		<input class="inputFieldRight" class='inputField' value='' id="id"> 			</input>
		 		<input class="inputFieldRight" class='inputField' value='' id="place" 			</input>
		 		<input class="inputFieldRight" class='inputField' value='' id="quantity"> 		</input>
		 		<input class="inputFieldRight" class='inputField' value='' id="relation"> 		</input>
		 		<input class="inputFieldRight" class='inputField' value='' id="subinfo"> 		</input>
		 		<input class="inputFieldRight" class='inputField' value='' id="title"> 			</input>
		 	</form>
	 	</div>
	 	
	 	<div class="buttonHolder">
		 	<button class="menuButtons"
		 		ng:click="update()"
		 		> Update
		 	</button> 
		 	<button class="menuButtons"
		 		ng:click="showDeleteButton()"
		 		> Delete
		 	</button>
		 	<button class="menuButtons"
		 		ng:click="deleteData()"
		 		id="deleteButton"
		 		> Sayobado!
		 	</button>
		 </div>
		 <div style="height:20px; float:left; background-color: transparent; width:100%"></div>
		 <div style="height:20px; float:left; background-color: red; width:100%">
		 	<div id="informationDiv" style="height:18px; position: relative; margin: 1 auto; width:300px; background-color: white;">

		 	</div>
		 </div>
		 <div style="height:20px; float:left; background-color: transparent; width:100%"></div>
		 <div id="addDiv">
		 	<div class="leftForm">
		 		<input class="inputFieldRight" type="text" id='{{k}}ParentAdd' ng-repeat="(k, v) in selected" value={{k}}> </input>
		 	</div>
		 	<div class="rightForm">	
			 	<form id="addForm">
			 		<input class="inputFieldRight" class='inputField' value='' id="authorAdd"> 			</input>
			 		<input class="inputFieldRight" class='inputField' value='' id="bestbeforeAdd"> 		</input>
			 		<input class="inputFieldRight" class='inputField' value='' id="borrowedfromAdd"> 	</input>
			 		<input class="inputFieldRight" class='inputField' value='' id="categoryAdd"> 		</input>
			 		<input class="inputFieldRight" class='inputField' value='' id="descriptionAdd"> 	</input>
			 		<input class="inputFieldRight" class='inputField' value='' id="idAdd"> 				</input>
			 		<input class="inputFieldRight" class='inputField' value='' id="placeAdd" 			</input>
			 		<input class="inputFieldRight" class='inputField' value='' id="quantityAdd"> 		</input>
			 		<input class="inputFieldRight" class='inputField' value='' id="relationAdd"> 		</input>
			 		<input class="inputFieldRight" class='inputField' value='' id="subinfoAdd"> 		</input>
			 		<input class="inputFieldRight" class='inputField' value='' id="titleAdd"> 			</input>
			 	</form>
			 </div>
		 </div>
		 <div class="buttonHolder">
		 	<button class="menuButtons" ng:click="addData()">
		 		Add new entry
		 	</button>
		 </div>

	 </div>



	 <div id="bottom">
	 	
	 </div>
</div>
		



</body>
</html>