<!-- load angular dependencies -->
<script src="./angular.min.js"></script>
<head> 
	<link rel="stylesheet" href="style.css">
</head>
<html ng-app="homeBase">
<body>



<div class="mainCon" ng-controller="mainCon">

	<div id="top">
		<div ng-repeat="(id, item) in out" >
			<li class="listCategory"> {{id}} </li>
		</div>
	</div>

	<div id="middle">
		<select ng-model="query" ng-options="chunk.Title as chunk.Title for chunk in chunks">
			<option value="0">Default</option>
		</select>		
		<input id="input" type="text" ng-model="query"/>
		<div ng-repeat="chunk in chunks|filter:query">
        	<div class="con">{{chunk.Title}}</div>
 		</div>
	 </div>
</div>
		
<script>
	var homeBase = angular.module('homeBase',[]);

	homeBase.filter('reverse', function () {
		return function (text) {
			return text.split("").reverse().join("");
		}
	})

	function oneCon($scope) {
		$http.get('./data/dataNoCat').success(function(data){
			$scope.chunks = data;
		});

		$scope.contacts = [
			{
				firstname: "thomas",
			},
			{
				firstname: "jonas",
			}
		]
	}

	homeBase.factory('Data', function(){
	});

	homeBase.controller('mainCon',function($scope, $http){
		$http.get('./data/dataNoCat').success(function(data){
			$scope.chunks = data;
		});	
		$http.get('./data/out').success(function(data){
			$scope.out = data;
		});	
		$scope.contacts = [
			{
				firstname: "thomas",
			},
			{
				firstname: "jonas",
			}
		];
	});	
</script>

<!-- <div ng-controller="searchCon">
	<input type="text" ng-model="data.textSearch">
	<h1> {{data.textSearch}} </h1>
</div> -->

</body>
</html>