<!-- load angular dependencies -->
<script src="./angular.min.js"></script>
<script src="./ui-utils.js"></script>
<head> 
	<link rel="stylesheet" href="style.css">
</head>
<html ng-app="homeBase">
<body>



<div class="mainCon" ng-controller="mainCon">

	<div id="top" ng-model="radioFilter">
		<button
			type="button" 
		    ng-repeat="chunk in chunks| unique:'Category'" 
		    class="btn btn-default" 
		    ng-model="selected[chunk.Category]" 
		    btn-checkbox 
		    ng-class="{active: == selectedTitle}" 
		    ng-click="setSelectedTitle(chunk.Category)">{{chunk.Category}}
		</button>

	</div>

	<div id="selectDiv">
		<select id="leftSelect" ng-model="query" ng-options="chunk.Title as chunk.Title for chunk in chunks| unique:'Title'">
			<option value="">Default</option>
		</select>		

		<select id="rightSelect" ng-model="query2" ng-options="chunk.Description as chunk.Description for chunk in chunks| filter:query">
			<option value="">Default</option>
		</select>
	</div>

	<div id="middleLeft">
		<ul>
			<li ng-repeat="chunk in chunks| filter:byTitle | filter:queue">
				<button ng:click="select(chunk)">{{chunk.Title}}</button>
			</li>
		</ul>
		<!-- <input id="input" type="text" ng-model="query"/>
		<button ng:click="select(artist)" >{{artist.name}}</button>
		<div ng-repeat="chunk in chunks| filter:byTitle | filter:queue">
        	<div class="con"><center><b>{{chunk.Title}}</b></center></br></br><b> Description:</b>{{chunk.Description}}</br>{{chunk.PlaceInHome}}{{chunk.Category}}
        	</div>
 		</div> -->
	 </div>

	 <div id="middleRight" ng-controller="mainCon">
	 	<center><b><span style="font-size:22"> {{selected.Title}} </span></b></center> <br> <br>
	 	<b> Description: </b> {{selected.Description}} <br> <br>
	 	<b> Where is it?: </b> {{selected.PlaceInHome}}
	 </div>
</div>
		
<script>
	var homeBase = angular.module('homeBase',['ui.unique']);

	homeBase.factory('Data', function(){
	});

	homeBase.controller('mainCon',function($scope, $http){
		$http.get('./data/dataNoCat').success(function(data){
			$scope.chunks = data;
		});	
		$http.get('./data/out').success(function(data){
			$scope.out = data;
		});	
		$scope.setSelectedTitle = function (value) {
	        if ($scope.selectedTitle === value) {
	            $scope.selectedTitle = undefined;
	        } else {
	            $scope.selectedTitle = value;
	        }
    	};
    	$scope.byTitle = function(entry){
        	return entry.Category === $scope.selectedTitle || $scope.selectedTitle === undefined;
    	};    
    	$scope.select = function(chunk){
    		$scope.selected = chunk;
    	}


	});	
</script>

<!-- <div ng-controller="searchCon">
	<input type="text" ng-model="data.textSearch">
	<h1> {{data.textSearch}} </h1>
</div> -->

</body>
</html>