#input {
	display: block;
	width: 300;
	margin: 0 auto;
}
#chunkHolder {
	margin: 0 auto;
	margin-top: 40;
}
#active {
	font-size: 20;
	background-color: blue;
	width: 200px;
}
.inputField {
	display: inline;	
}
.upperButtons {
	position: absolute;
	width: 200px;
	height: 100px;	
}

.con {
	width: 400;
	height:	120;
	background-color: #6ef4e5;
	padding-top: 3;
	margin: 0 50;
	margin-top: 1;
	margin-bottom: 1;
	border: solid;
	border-width: 2;
	border-color:black;
}
#top {
	top: 0;
	left: 0;
	height: 200;
	width: 100%;
	position: relative;
	display: block;
	background-color: #ebff0f;
}
#middleLeft {
	width: 50%;
	height: 1000;
	background-color: #ffc096;
	position:relative;
	display:inline-block;
	float: left;
}
#middleRight {
	height: 1000;
	width: 50%;
	background-color: #7cff8e;
	float: left;
	position: relative;
	display: inline;
}

.categoryButton {
	width: 100%;
	height: 21px;
	display: inline-block;
	float: left;
	overflow: none;
}
#updateFormHolder {
	display:inline;
}
#addDataFormHolder {
	display: none;
}
.leftForm {
	float:left;
	height: 300;
	width:15%;	
}
.middleForm {
	float:left;
	height: 300;
	width:20%;
}
.rightForm {
	float:left;
	height: 300;
	width:85%;	
}
.rightForm_2 {
	float:left;
	height: 300;
	width:65%;
}
.inputFieldRight {
	float: top;
	width: 100%;
	display: block;
}
.inputFieldMiddle {
	float:top;
	width: 100%;
	display: block;
}
#leftSelect {
	float: top;
}
#rightSelect {
	float: right;
}
.buttonHolder {
	float: left;
	height: 40px;
	width: 100%;
}
.menuButtons {
	height: 40px;
	width: 100px;	
}
#deleteButton {
	display:none;
}
.titleButton {
	width: 200;
	height: 10;
	display: inline-block;
	float: left;
	overflow: none;
}
.selector {
	float: left;
}
.category {
	top:40;
	left:40;
	width: 200;
	height: 40;
	background-color: #6ef4e5;
	display:inline;
	float: left;
	border: solid;
	text-align: center;
	position: relative;
}